doctype html 
html    
    head    
        title Processamneto e Representação de Informação(aula6)
        meta(charset='utf-8')
        link(rel='stylesheet', href='/w3.css')
    body    
        block content