extends form-ficheiro
block lista
    .w3-container   
        .w3-card-4
            if listaFiles.length > 0
                header.w3-container.w3-teal
                    h3 Lista de Submissões
                .w3-container
                    table.w3-table-all
                        tr
                            th Nome
                            th Descrição
                        each file in listaFiles 
                            tr 
                                td 
                                    a(href=file.path)= file.file.name
                                td= file.desc
                footer.w3-container.w3-teal
                    address Gerado por FileSubmissionApp
