extends layout

block content
  .w3-container
    .w3-card-4
      header.w3-container.w3-teal
        h3 MyTwitter (nodeJS)
      .w3-container 
        form.w3-container(method='POST' action='/')
          fieldset
            legend Nova Entrada
            label.w3-text-teal
                b Texto
            input.w3-input.w3-border.w3-light-grey(type="text", name='texto')
            label.w3-text-teal
                b Autor
            input.w3-input.w3-border.w3-light-grey(type="text", name='autor')
            label.w3-text-teal
                b Hash
            input.w3-input.w3-border.w3-light-grey(type="text", name='hash')
            input.w3-btn.w3-blue-grey(type="submit", value='Adicionar')
      .w3-container
        fieldset
          legend Discussões
          table.w3-table-all
              tr 
                td Texto
                td Autor
                td Hash
              each e in entradas
                tr
                  td= e.texto
                  td= e.autor
                  td= e.hash
      footer.w3-container.w3-teal
        address Gerado por AjaxApp