extends layout
block content 
    .w3-container     
            header(style={padding:'128px 16px'}).w3-panel.w3-center 
                h1 Thesis Platform
                h1.w3-xlarge Efetue o seu registo ou liste as teses jรก registadas
        
                div.w3-padding-32
                    div.w3-bar.w3-border
                        a.w3-bar-item.w3-button.w3-light-grey(href="http://localhost:4006/registo") Registar
                        a.w3-bar-item.w3-button(href="http://localhost:4006/lista") Listar
            footer.w3-container.w3-padding-64.w3-light-grey.w3-center.w3-large
                address Gerado por ThesisApp
